<!DOCTYPE html>
<html lang="en" ng-app="TaskManagerApp">
<head>
    <title>Home</title>

</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1>Welcome!</h1>
            <p>
                This is an application to manage your tasks efficiently.
                Register and then you can add task and sub tasks.
                Hope this makes your life just a bit better.
            </p>
        </div>
    </div>
</div>

</body>
</html>